/venv/
/target/
# /.github/workflows/*

# Исключение скомпилированных файлов
target/
__pycache__/
*.pyc
*.py~

# Исключение файлов Python
__pycache__/database.cpython-313.pyc
__pycache__/database.cpython-312.pyc

# Исключение файлов IDE (IntelliJ и другие)
.idea/
*.iml
*.iws
*.ipr
*.log
/shelf/
workspace.xml

# Исключение резервных копий
*~

# Локальные конфигурации (если есть)
application.properties
settings.xml

# Тестовые артефакты
*.test