# Исключение скомпилированных файлов
target/
__pycache__/
*.pyc
*.py~

# Исключение файлов Python
__pycache__/database.cpython-313.pyc
__pycache__/database.cpython-312.pyc

# Исключение файлов IDE (IntelliJ и другие)
.idea/
*.iml
*.iws
*.ipr
*.log
drools-decision-okr-project-main/.idea/compiler.xml
drools-decision-okr-project-main/.idea/encodings.xml
drools-decision-okr-project-main/.idea/jarRepositories.xml
drools-decision-okr-project-main/.idea/misc.xml
/shelf/
workspace.xml

# Исключение баз данных и логов
*.db
patients_history.db
*.log

# Исключение резервных копий
*~

# Исключение сгенерированных Maven-файлов
**/META-INF/

# Локальные конфигурации (если есть)
application.properties
settings.xml

# Тестовые артефакты
*.test